# 파이썬 문법

## 1. 주석 (commeny)

In [1]:
# 주석: 앞에 #을 붙이면 파이썬 코드로 실행하지 않습니다.
# 코드에 대한 설명이나 실행시키고 싶지 않을 때 사용
# ctrl + /

In [3]:
print(1)
# print(2)
print(3)

1
3

## 2. print() 출력 함수

In [4]:
a = 1
b= 2

print(b)

2

In [5]:
print(a)

1

In [11]:
# print 함수의 옵션
# docstring 
# 함수에 대한 설명(shift + tab) >> 주피터 노트북에서만 쓸 수 있음

print(1, 2, sep ='\t')
print(b , sep = ' ')

1	2
2

In [12]:
print('자동완성')
print('오타를 방지할 수 있습니다')

자동완성
오타를 방지할 수 있습니다

## 3. 변수 선언
- RAM 저장공간에 값을 할당

In [13]:
# 1 이라는 값을 a라는 변수에 할당한다 라는 의미로 읽어야 함
a = 1

In [14]:
b = 2

In [15]:
print(a , b)

1 2

In [16]:
d , e =3 ,4
print(d ,e)

3 4

In [17]:
f = g = 5
print ( f, g )

5 5

print(z)

In [19]:
# 정적 할당 
int a = 1
# 동적 할당
a = 10
type(a)

SyntaxError: invalid syntax (3697851404.py, line 2)

## 4. 식별자 
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 합니다
- 식별자 규칙
    - 소문자, 대문자, _(언더 스코어), 숫자 사용
    - 가장 앞에 숫자 사용 불가
    - 예약어  사용 불가
        - def, class, list, str, int float...

In [22]:
# 가능한 형태
name = 'john'
age  =25
my_vaar = 3.14
hello_word = ' hello world'
IsValid = True

In [25]:
# 불가능한 형태
# 한글, 띄어쓰기, 특수문자 X
2nd_number = 42
hello world = 'hello world'

SyntaxError: invalid decimal literal (3922932968.py, line 4)

In [29]:
%whos
## 내가 쓴 변수들의 데이터 타입을 확인할 수 있음

Interactive namespace is empty.

In [30]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [28]:
%whos

Interactive namespace is empty.

## 5. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 데이터 타입을 설정
- 동적 타이핑
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입 설정
- 정적 타이핑
    - 변수 선언시 데이터 타입을 직접 설정 후 할당

- 데이터 타입
     - int, float, bool, str
     - list, tuple, dict

In [33]:
a = 1
b = 'python'
c = '1'

## 5 -1 . 기본 데이터 타입
- int: 정수
    - 1, 2, 3
- float: 소수점
    - 1.0, 3.14. -5.0
- str: 문자열
    - 'python', "string" , '''three'''
- bool: 논리값
    - True, False

In [35]:
a= 1
b = 1.3
c = 'True'
d = True
f = "1.2"

In [37]:
type(a), type(b), type(c), type(d), type(f)

(int, float, str, bool, str)

In [38]:
c + 1

TypeError: can only concatenate str (not "int") to str

In [39]:
d + 1

2

In [40]:
1 + False

1

In [41]:
print(int(False))

0

## 5- 2. 컬렉션 데이터 타입
- list: 여러 개의 값을 순서대로 담을 수 있고, 수정이 가능한 데이터 타입
    - [1, 2, 3]
    - [1, '문자', [1,2,3]]
- tuple: 리스트와 동일한 내용이지만, 수정이 불가능한 데이터
    - (1,2)
- dict: 순서가 없고 key와 value의 쌍으로 이루어진 데이터 타입
    - {'key': 'value'}
- 컬렉션 데이터 타입안에 담긴 데이터를 **아이템(item) 또는 요소라고 표현(element)**
- 수정이 가능한 것을 가변(mutable)
- 수정이 불가능한 것을 (immutable)

In [43]:
# list
ls = [1,2,3]
print(ls)

[1, 2, 3]

In [44]:
#tuple
tp = (1,2,3)
print(tp)

(1, 2, 3)

In [45]:
# dict
dic = {'key' : 'value'}
print(dic)

{'key': 'value'}

In [46]:
# 1. 리스트 데이터 타입 생성
my_li = [1, 5, 4, 6, 111, 111, 10, 45, 3, 2]

In [47]:
#2. 리스트의 길이 확인
len(my_li)

10

In [48]:
# 3. 리스트의 값 추가
# append ()

my_li.append(111)
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111]

In [51]:
my_li.append([112,113])
print(my_li)

NameError: name 'my_li' is not defined

In [49]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [50]:
my_li.append([112,113])
print(my_li)

NameError: name 'my_li' is not defined

In [52]:
my_li = [1, 5, 4, 6, 111, 111, 10, 45, 3, 2]
my_li.append([112,113])
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, [112, 113]]

In [53]:
# extend ()
my_li.extend([14, 15])
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, [112, 113], 14, 15]

In [54]:
# 4. 리스트 값 제거
my_li.remove(45)

In [56]:
my_li.remove([112,113])

In [57]:
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 3, 2, 14, 15]

In [58]:
# 5. 리스트에서 특정 값 개수 세기
# count()

my_li.count(111)

2

In [59]:
# 6. 리스트 오름차순
# sort()
my_li.sort()

In [60]:
my_li

[1, 2, 3, 4, 5, 6, 10, 14, 15, 111, 111]

In [61]:
li1 = [ 4 ,1, 10]
li2 = li1

print(li1)
print(li2)

[4, 1, 10]
[4, 1, 10]

In [62]:
li2.sort()

In [63]:
print(li1)
print(li2)

[1, 4, 10]
[1, 4, 10]

In [64]:
li1  = [4, 1, 10]
li2 = li1.copy() # 깊은 복사

In [65]:
print(li1)
print(li2)

[4, 1, 10]
[4, 1, 10]

In [66]:
li2.sort()

In [67]:
print(li1)
print(li2)

[4, 1, 10]
[1, 4, 10]

In [68]:
# 7. pop()
# 가장 마지막 데이터를 출력하고, 그 데이터를 리스트에서 삭제 >> 중요함

In [75]:
my_li.pop()
print(my_li)

[1, 2, 3, 4, 5]

In [70]:
my_li

[1, 2, 3, 4, 5, 6, 10, 14, 15, 111]

In [76]:
# 8. 리스트끼리 연산 
a_li = [1,2,3]
b_li = [7,8,9]

In [77]:
a_li + b_li

[1, 2, 3, 7, 8, 9]

In [78]:
# 9. 리스트에는 여러 데이터 타입을 할당할 수 있다.

In [79]:
ls = [1,2,'3', [5,6], (7,8) ,{"key" : "value"}, True, False]

In [80]:
ls[0]

1

In [81]:
ls[0], ls[1], ls[2]

(1, 2, '3')

In [84]:
ls[3], type(ls[3])

([5, 6], list)

## 5-3 오프셋 인덱스
- 마스킹
- 인덱싱 : 데이터 구조에서 원소에 접근하기 위해 사용하는 방법
- [start:end:stride(간격)]

In [97]:
my_li = [10 , 20, 30 ,40, 50, 60, 70, 80, 90, 100]
my_str = "hello, World!"

In [86]:
# 1. 리스트에서 첫 번째 원소에 접근하기
my_li[0] # [start : end : stride]

10

In [89]:
my_li[0:3] # [n:m] m-1 까지 출력됨

[10, 20, 30]

In [90]:
my_li[::2]

[10, 30, 50, 70, 90]

In [91]:
# 90이라는 값만 나오도록 해주세요
my_li[-2]

90

In [92]:
# 문자열에서 세 번째 문자에 접근하기
my_str[2]

'l'

In [93]:
# 문자열에서 네 번째 문자에 접근하기
my_str[3]

'l'

In [94]:
# 1. 리스트에서 [30~70]까지 출력
my_li[2:7]

[30, 40, 50, 60, 70]

In [95]:
# 2. 문자열에서 인덱스 3부터 끝까지 출력하기

In [98]:
my_str[3:]

'lo, World!'

In [100]:
#3. 리스트에서 인덱스 1부터 끝까지, 2칸씩 건너뛰며 출력
my_li[1::2]

[20, 40, 60, 80, 100]

In [118]:
#4. 리스트에서 인덱스 0부터 끝까지 3칸씩 건너뛰며 출력
my_str[::3]

'hl r!'

In [103]:
#5. 리스트에서 인덱스 4부터 1까지 역순으로 출력
my_li[4:0:-1]

[50, 40, 30, 20]

In [105]:
#6.문자열에서 인덱스 7부터 2까지 역순으로 출력
my_str[7:1:-1]

'W ,oll'

In [128]:
#7. 리스트에서 인덱스 7부터 3까지 역순으로 출력
my_li[7:2:-1]
my_li[-3:-8:-1]

[80, 70, 60, 50, 40]

In [143]:
#8. 문자열에서 인덱스 -1부터 -9까지 2칸씩 역순으로 출력
my_str[-1:3:-2]

'!lo o'

In [111]:
#9. 리스트에서 인덱스 2부터 8까지, 3칸씩 건너뛰며 출력
my_li[2::3]

[30, 60, 90]

In [116]:
#10 문자열에서 인덱스 0부터 끝까지 역순으로 출력
my_str[-1::-1]

'!dlroW ,olleh'

In [135]:
# offset index를 이용한 값 수정
# 인덱싱 슬라이싱 마스킹 이라고 함

my_li

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [137]:
my_li[3] = 9999

In [138]:
my_li

[10, 20, 30, 9999, 50, 60, 70, 80, 90, 100]

In [139]:
my_li = [1, 5, 4, 6, 111, 111, [112, 113] ,14 ,15]

In [140]:
my_li

[1, 5, 4, 6, 111, 111, [112, 113], 14, 15]

In [144]:
my_li[6]

[112, 113]

In [145]:
my_li.remove(my_li[6][0])

ValueError: list.remove(x): x not in list

In [146]:
del my_li[6][0]

In [147]:
my_li.remove(my_li

[1, 5, 4, 6, 111, 111, [113], 14, 15]

# 5-4. 튜플
- 튜플은 리스트보다 같은 데이터를 가졌을 대 공간을 더 적게 사용

li = [1,2,3]
tu = (1,2,3)

In [150]:
import sys

li = [1,2,3]
tp = (1,2,3)

print(sys.getsizeof(li))
print(sys.getsizeof(tp)) ## 저장공간

88
64

## 5-5. 딕셔너리
- {}
- 순서가 없고 {"key" : "value"}

In [152]:
dic= {1 : "one" , "two" : 2, "three" : [1,2,3], "four" : "python"}
print(dic)

{1: 'one', 'two': 2, 'three': [1, 2, 3], 'four': 'python'}

In [153]:
dic[1]

'one'

In [154]:
dic["three"]

[1, 2, 3]

In [155]:
dic[1] = "five"

In [157]:
# 키: 토맛젤리 ,단맛젤리, 비누맛
# 값 : 124, 80, 200
data = {'토맛젤리': 124, '단맛젤리':80, '비누맛': 200}

In [160]:
# list
food = ['토맛젤리', '단맛젤리', '비누맛']
kal = [124, 80, 200]

In [163]:
data = dict(zip(food, kal))
data

{'토맛젤리': 124, '단맛젤리': 80, '비누맛': 200}

## 형 변환
- 데이터 타입 변환
- int, float, str, bool, list, tuple, dict

In [164]:
a= 1
b = '2'

In [165]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [166]:
print(a + int(b))

3

In [168]:
print(float(a) + float(b))

3.0

In [169]:
print(int(a) + float(b))

3.0

In [170]:
print(str(a) + b)

12

In [172]:
# 형변환이 안되는 경우
text = 'intasd'
int(int)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'type'

## 7. 연산자의 종류와 우선순위
- 괄호: ()(괄호 안의 표현식이 가장 먼저 계산ㄴ됨)
- 지수 연산자 : **
- 단항 연산자: -(음수), +, 
- 곱셈, 나눗셈, 나머지 연산자: *, /,//,%
- 덧셈, 뺄셈 연산자: +, -
- 비교 연산자: < ,>, <=, >=, == , !=
- 논리 연산자: and, or, not
- 멤버 연산자: in, not, in
- 항등 연산자: is, is not
- 할당 연산자: +=, -=
- 삼항 조건 연산자: if-else 표현식>> 우선순위상 가장 마지막에 계산이 된다.

In [173]:
# 산술 연산자
a = 10
b= 3

In [175]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)## 몫이 정수로 나온다는 점을 기억하자
print(a%b)
print(a**b)

13
7
30
3.3333333333333335
3
1
1000

In [177]:
# 할당 연산자
a = 10

In [178]:
a = a +10
a

20

In [179]:
a+=10

In [180]:
a

30

In [181]:
a/=3

In [182]:
a

10.0

In [183]:
a = 5
b = 3

In [184]:
print(a == b)

False

In [185]:
print( a!=b)
print(a>b)
print(a<b)

True
True
False

In [187]:
print(a>=b)

True

In [188]:
# 논리 연산자
x = True
y = False

print (x and y)
print( x or y )
print(not x)
print(not y)

False
True
False
True

In [189]:
# 멤버 연산자
li = ['jo', 'python' , 'robot']

print('jo' in li)

True

In [192]:
(True or False) and 'john' in li

False

In [193]:
# 항등 연산자
x = 10
y = 10
x is y

True

In [197]:
id(x) ==  id(y)

True

# 8. random() 함수

In [198]:
import random

In [235]:
random.randint(1, 10)

6

In [221]:
# 입력함수
# 입력받은 데이터를 변수에 할당
# input()

In [225]:
data = int(input())

 1

In [227]:
type(data)

int

In [229]:
## 솔루션을 리스트로 작성
# 질문 입력
# 저.. 이거 공부하면 잘될 수 있을까요?
# 솔루션중, 한가지 대답을 랜덤하게 선택해서 보여줌
# 솔루션의 갯수에 맞게 랜덤한  index 정수값을 생성
# index에 해당하는 솔루션 대답을 보여줌
solutions = [
    '포기하지 말고 힘내주세요', 
    '집에 가는 것은 어떨까요?',
    '코로나 안 걸릴 수 있어요 건강하세요',
    '많이 아파 보여요'
]

In [239]:
input('질문을 입력하세요 : ')
solutions[random.randint(0,len(solutions)-1)]

질문을 입력하세요 :  sdsd

'포기하지 말고 힘내주세요'