# 반복문 (loop)
- 반복되는 코드를 실행할 때 사용
- while, for ,break, continue
- list comprehension

# 1. while

In [2]:
# 조건에 의한 반복문

data = 3

while data:
    print(data)
    data -= 1 
    

print('반복문 종료')

3
2
1
반복문 종료

In [3]:
# break : 반복을 중단할 때 사용

count = 0 

while True:
    count += 1
    print(count)

    if count >= 5:
        break

1
2
3
4
5

In [4]:
# # 무한 루프

# result = 1

# while result:
#     result += 1
#     print(result)

In [5]:
# continue
# continue 실행되면 , 현재 반복 루프 내에서 continue 아래 코드는 실행 X
# 반복문의 다음 반복으로 이동

In [9]:
count = 0

while True:
    count += 1

    if count >= 10:
        break
    ## 짝수 
    if count % 2 :
        continue
    print(count)

2
4
6
8

In [10]:
# mini quiz
# whikle 이용
# q 문자열이 입력될 때 까지
# 내가 입력한 단어를 리스트 변수에 저장하는 코드를 작성
# input()

In [8]:


words = []

while True:
    str = input('insert word(q:exit()) : ')
    if 'q' in str:
        print(" q is in str") 
        break
        
    else:
        words.append(str)
        print(words)

insert word(q:exit()) :  asd

['asd']

insert word(q:exit()) :  sd

['asd', 'sd']

insert word(q:exit()) :  dsdd

['asd', 'sd', 'dsdd']

insert word(q:exit()) :  qq

 q is in str

In [10]:
In[5]

'words = []\n\nwhile True:\n    word = input(\'insert word(q:exit()) : \')\n    if \'q\' in str:\n        print(" q is in str") \n        break\n        \n   \n    words.append(str)\n    print(words)'

In [11]:
# mini Quiz
# 1부터 100까지 정수를 출력해주세요
# 3의 배수만 출력해주세요

In [14]:
for i in range(1,101):
    if not i % 3:
        print (i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [17]:
## 강사님

num = 1

while num <= 100:
    
    # if num%3 == 0:
    #     print(f'{num}은 3의배수 입니다.')

    if not (num % 3):
        print(f'{num}은 3의 배수입니다.')
    num += 1

3은 3의 배수입니다.
6은 3의 배수입니다.
9은 3의 배수입니다.
12은 3의 배수입니다.
15은 3의 배수입니다.
18은 3의 배수입니다.
21은 3의 배수입니다.
24은 3의 배수입니다.
27은 3의 배수입니다.
30은 3의 배수입니다.
33은 3의 배수입니다.
36은 3의 배수입니다.
39은 3의 배수입니다.
42은 3의 배수입니다.
45은 3의 배수입니다.
48은 3의 배수입니다.
51은 3의 배수입니다.
54은 3의 배수입니다.
57은 3의 배수입니다.
60은 3의 배수입니다.
63은 3의 배수입니다.
66은 3의 배수입니다.
69은 3의 배수입니다.
72은 3의 배수입니다.
75은 3의 배수입니다.
78은 3의 배수입니다.
81은 3의 배수입니다.
84은 3의 배수입니다.
87은 3의 배수입니다.
90은 3의 배수입니다.
93은 3의 배수입니다.
96은 3의 배수입니다.
99은 3의 배수입니다.

In [18]:
# 1. quiz

# (1) 랜덤한 숫자 6개 출력
# (2) 중복되는 숫자 없이, 6개 랜덤한 숫자
# (3) 오름차순 정렬
# (4) 1~45 숫자
# [1, 2, 3, 44, 45]

In [27]:
import random

number_li = []

for _ in range(6):    
    number = random.randint(1,45)
    number_li.append(number)
    
number_li.sort()

print(number_li)

[18, 23, 28, 39, 43, 45]

In [8]:
import random

lotto = []

while True:

    random_number = random.randint(1, 45)

    if random_number not in lotto:
        lotto.apppend(random_number)

    if len(lotto) == 6:
        lotto.sort()
        break

AttributeError: 'list' object has no attribute 'apppend'

In [ ]:
# 2. import random
# (1) 학생이 있습니다.
# (2) 파이썬 : 80점, 머신러닝: 90점, ros: 20점
# points_list = [80, 90, 20]
# (3)총점과 평균점수, 최저점수
# (4) while 

# 총 점수는 190점입니다. 평균 점수는 50.0점입니다. 최저 점수는 20점입니다.

In [ ]:
score_li= []

while True:
    
    score_li.append(int(input('점수를 입력해주세요 : '))) 
    
    if len(score_li) == 6:
        
        score_sum = sum(score_li)
        score_mean = score_sum/len(score_li)
        score_min = min(score_li)
        
        print(f'총 점수는 {score_sum}입니다. 평균 점수는 {score_mean}입니다. 최저 점수는 {score_min}입니다.')

        break

In [4]:
## 강사님

points_li = [80, 90, 20]

In [5]:
total, avg, min_score = 0, 0, 1000

In [6]:
copy_points_li = points_li.copy()

In [7]:
while copy_points_li:
    score = copy_points_li.pop()
    total += score

    if score < min_score:
        min_score = score
        
avg = total / len(points_li)
print(f'총 점수는 {total}입니다, 평균 점수는 {avg}입니다. 최저 점수는 {min_score}입니다.')

총 점수는 190입니다, 평균 점수는 63.333333333333336입니다. 최저 점수는 20입니다.

## 2. for
- 횟수에 의한 반복문
- iterable 한 값을 하나식 꺼내서 value에 대입
- 코드를 ㅑㄳ한 갯수만큼 시랭
- iterable 순서가 있는 데이터
    - 리스트, 튜플, 딕셔너리

In [1]:
li = [0, 1, 2, 3, 4]

In [2]:
print(li[0])
print(li[2])
print(li[3])

0
2
3

In [3]:
for value in li:
    print(value)

0
1
2
3
4

In [9]:
data = []

for value in li:
    data.append(value)

data

[0, 1, 2, 3, 4]

In [11]:
# for
# continue

for data in li:
    # data가 짝수인 경우만 출력
    if data % 2:
        continue
    print(data, end = ' ')

0 2 4

In [13]:
# for 
# range()
# enumerate()
# zip()

In [14]:
# range()

range(100)

range(0, 100)

In [15]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

### range()
- 정수의 리스트를 생성하는 함수

In [16]:
 list(range(10))  # end

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(5, 10))  # start, end

[5, 6, 7, 8, 9]

In [19]:
list(range(1, 10, 2))  # (start, end, stride)

[1, 3, 5, 7, 9]

In [20]:
list(range(5))[1:2]

[1]

In [21]:
result = 0

for my_value in range(100):
    result += my_value

print(result)

4950

## enumerate()
- 순서가 있는 (iterable) 자료형(리스트, 튜플, 딕셔너리)를 입력으로 받음
- 각 요소가 가지고 있는 인덱스 값을 함께 반환합니다.

In [24]:
ls = ['first', 'second', 'third']

for index, data in enumerate(ls):
    print(index, data)

0 first
1 second
2 third

In [25]:
# 딕셔너리 데이터 타입과 for 문 

points_dict = {'python' : 80, 'ml' : 90, 'ros' : 20}

In [30]:
for point in points_dict:
    print(point)

python
ml
ros

In [31]:
points_dict.items()

dict_items([('python', 80), ('ml', 90), ('ros', 20)])

In [32]:
for i, v in points_dict.items():
    print(i, v)

python 80
ml 90
ros 20

In [33]:
# mini quiz
# 숫자를 입력 받습니다
# 3의 배수이면 fizz
# 5의 배수이면 buzz
# 15의 배수이면 fizzbuzz => 대문자로 출력

In [36]:
number = int(input('숫자를 입력하세요: '))

if not number % 3:
    print('FIZZ'.lower())

if not number % 5:
    print('buzz')

if not number % 15:
    print('fizzbuzz'.upper())

숫자를 입력하세요:  45

fizz
buzz
FIZZBUZZ

In [38]:
# 2중 for 문
# 구구단

# 2X1 ... 2X9

for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i}*{j} = {i*j}')

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

In [40]:
matrix = [[1, 2, 3], 
          [4, 5, 6], 
          [7, 8, 9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [41]:
test_li = [1, 2, [3, 4]]

In [42]:
test_li[2][0]

3

In [51]:
for i in matrix:
    print(i[0], i[1], i[2])

1 2 3
4 5 6
7 8 9

In [57]:
## 강사님

for row in matrix:
    for element in row:
        print(element, end = ' ')
    print()

1 2 3
4 5 6
7 8 9

In [59]:
for num2 in range(1, 10):
    for num1 in range(2, 10):
        print(f'{num1}*{num2} = {num1*num2}', end = '\t')
    print()

2*1 = 2	3*1 = 3	4*1 = 4	5*1 = 5	6*1 = 6	7*1 = 7	8*1 = 8	9*1 = 9
2*2 = 4	3*2 = 6	4*2 = 8	5*2 = 10	6*2 = 12	7*2 = 14	8*2 = 16	9*2 = 18
2*3 = 6	3*3 = 9	4*3 = 12	5*3 = 15	6*3 = 18	7*3 = 21	8*3 = 24	9*3 = 27
2*4 = 8	3*4 = 12	4*4 = 16	5*4 = 20	6*4 = 24	7*4 = 28	8*4 = 32	9*4 = 36
2*5 = 10	3*5 = 15	4*5 = 20	5*5 = 25	6*5 = 30	7*5 = 35	8*5 = 40	9*5 = 45
2*6 = 12	3*6 = 18	4*6 = 24	5*6 = 30	6*6 = 36	7*6 = 42	8*6 = 48	9*6 = 54
2*7 = 14	3*7 = 21	4*7 = 28	5*7 = 35	6*7 = 42	7*7 = 49	8*7 = 56	9*7 = 63
2*8 = 16	3*8 = 24	4*8 = 32	5*8 = 40	6*8 = 48	7*8 = 56	8*8 = 64	9*8 = 72
2*9 = 18	3*9 = 27	4*9 = 36	5*9 = 45	6*9 = 54	7*9 = 63	8*9 = 72	9*9 = 81

In [61]:
# 사용되지 않지만, 선언이 되어야 하는 변수명은 _로 사용
# 식별자가 중복되지 않도록 하기 위해서
ls = [1, 2, 3]

for _ in ls:
    print('python')

python
python
python

## 3. list comprehension
- 리스트 데이터를 만드는 문법

In [62]:
ls = [1, 3, 6, 9, 12, 15, 18]

In [67]:
%%time
result = []
for value in ls:
    result.append(value ** 2)
result

CPU times: user 41 µs, sys: 5 µs, total: 46 µs
Wall time: 51.5 µs

[1, 9, 36, 81, 144, 225, 324]

In [68]:
%%time
result = [value ** 2 for value in ls]
result

CPU times: user 66 µs, sys: 9 µs, total: 75 µs
Wall time: 83.9 µs

[1, 9, 36, 81, 144, 225, 324]

In [69]:
words = ['apple', 'banna', 'orange', 'grape', 'kiwi']

In [71]:
# 문자열 길이가 5 이상인 값만 result = [] 저장

result = []

for word in words:
    if len(word) >= 5:
        result.append(word)

result

['apple', 'banna', 'orange', 'grape']

In [72]:
new_word = [word for word in words if len(word) >= 5]
new_word

['apple', 'banna', 'orange', 'grape']

In [74]:
isinstance(1, int), isinstance(1, str)

(True, False)

In [75]:
datas = [1, 2, 'apple', 3.14, 'banna', 4, 6.7, [1,2,3], {'name':'car'}]

In [76]:
# 리스트에서 정수 데이터만 뽑아서 저장해주세요
result = []

for data in datas:
    if isinstance(data, int):
        result.append(data)
result

[1, 2, 4]

In [78]:
## 강사님

result = [data for data in datas if isinstance(data, int)]
result

[1, 2, 4]

In [109]:
# 3 by 3 행렬 데이터

matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

In [95]:
import numpy as np

mat = np.array(matrix)
mat

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [93]:
mat.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [108]:
transposed = []
for row in mat.T:
    transposed.append(list(row))
transposed

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [107]:
transposed = [list(i) for i in mat_t]
transposed

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [1]:
test_li = ['one-test', 'two home', 'three,five']
test_li[2].split(',')

['three', 'five']

In [2]:
datas = [
    'kim test', 
    'cho python', 
    'min data', 
    'Kim jupyter', 
    'jung notebook', 
    'KIM vscode'
]

In [3]:
datas[0].split()[0] != 'kim'

False

In [4]:
# 1. kim 씨 성을 가진 사람을 제외한 나머지 사람의 이름만 리스트로 출력
# [python, data, notebook]

kims = []
# [python, data, notebook]

In [5]:
kims = [] 

for data in datas:
    if data.split()[0].lower() != 'kim':
        kims.append(data.split()[1])

kims

['python', 'data', 'notebook']

In [6]:
kims = [data.split()[1] for data in datas if data.split()[0].lower() != 'kim'] 
kims

['python', 'data', 'notebook']

In [7]:
# 2. kim 씨 성을 가진 사람을 제외하고 나머지 사람 출력
# 단, cho 씨 성을 가진 사람만 성을 제외한 이름만 출력
# [python, min data, jung notebook]

no_kims = [] 
# [python, min data, jung notebook]

In [9]:
no_kims = [] 

for data in datas:
    if data.split()[0].lower() != 'kim':
       no_kims.append(data.split()[1] if data.split()[0] == 'cho' else data)

no_kims

['python', 'min data', 'jung notebook']

In [10]:
no_kims = [
    data.split()[1] if data.split()[0] == 'cho' else data 
    for data in datas 
    if data.split()[0].lower() != 'kim'
]

no_kims

['python', 'min data', 'jung notebook']